
		
			*{
				margin:0;
				padding:0;
				border: 0;
				box-sizing: border-box;
			}
			
			*:focus {
				outline: none;
			}
			
			.header_include,
			.footer_include {
				width: 100%;
			}
			
			.header_include {
				height: 100px;
			}

			.footer_include {
				height: 620px;
			}

		
			body{
				font-family: "Quicksand", sans-serif;
				color: #322e26;
			}
			.header-div1{
				padding:0 75px 0 75px;
				margin-top: 20px;
			}
			
			.header-bg{
				background-color:#fbf4e8;;
			}
			
			.header-top{
				float:right;
			}
		
			.header-top ul{
				display: inline-block;
			}
			.header-top li{
				display: inline-block;
				padding: 10px;
			}
			
			.header-top a{
				text-decoration: none;
				color: #322e26;
			}
			
			.header-top a:hover{
				color: #b9a274;
			}
			
			.camand-1{
				width: 250px;
				display: inline-block;
				vertical-align: top;
			}
			
			.home-href{
				padding-left:100px;
			}
			
			.home-href a{
				text-decoration: none;
				color: #322e26;
			}
			
			.home-href a:hover{
				color: #b9a274;
			}
			
			.home-href li{
				margin-top: 40px;
				font-weight: 300;
				list-style-type:none;
			}
			
			.follw-us-font{
				margin-top:50px;
			}
			
			.follw-us-font a:hover{
				color: #b3782c;
			}
			
			.follw-us-font a{
				display:block;
				padding:10px;
				margin-top:10px;
				color:#a99b9b; 
			}
			
			.camand-2{
				width: 1090px;
				display: inline-block;
			}
			
			.home-img{
				width:100%;
			}
			
			
			.font-add-img h1{
				color: #dcbf96;
				font-weight: 100;
				margin-left: 298px;
				padding-right: 66px;
				font-size: 44px;
				position: relative;
				margin-top: 41px;
			}

			.href-video{
				text-align: right;
   				display: block;
			}
			
			.video-img{
				width: 575px;
				margin-top: -215px;
			}

			.font{
					font-size: 66px;
					position: absolute;
					margin-left: 265px;
					margin-top: -44px;
					color: white;
			}

			.new-coll{
				margin: 60px 45px 120px 45px;
			}
			
			.new-coll h1{
				font-size:45px;
				font-weight:300;
				margin-bottom: 25px;
			}
			
			.img-width{
				width: 1180px;
				display: block;
				margin: 0 auto;
			}
			
			.new-coll-img:hover{
				overflow: hidden;
				display: inline-block;
				vertical-align: bottom;
				box-shadow: 0 0 20px #e4c085;
			}
			
			.new-coll-img{
				padding: 10px;
			}
			
			.img-width h3{
				font-weight: 300;
				color: #d09842;
				font-size: 25px;
				margin-top: -27px;
				text-align: center;
			}
			
			.coll-name{
			display:inline-block;
			}
			
			.best-plan{
				max-width: 740px;
				margin: 0 auto;
			}
			
			.best-plan h1{
				font-size: 41px;
				text-align: center;
				font-weight: 100;
				line-height: 60px;
			}
			
			.best-plan span{
				color: #f5b656;
			}
			
			.vows-img:hover{
				transform: scale(0.9);
				box-shadow: 0 0 20px #e4c085;
				
			}
			
			.vows-img{
				display: block;
				margin: 0 auto;
				margin-top: 70px;
				transition: all .2s ease;
			}
			
			.wedding-bg-img{
				background: url(../img/ribbon-bg.png) no-repeat top center;
				background-size: contain;
			}
			
			.marriage-vows h1{
				font-weight: 100;
				color: #a3783c;
				font-size: 70px;
				margin-top: -33px;
				text-align: center;
			}
			
			.marriage-vows p{
				max-width: 400px;
				margin: 0 auto;
				margin-top: 60px;
				line-height: 32px;
				text-align: justify;
				font-size: 19px;
			}
			
			.marriage-vows span{
				font-size: 33px;
				color: #c5b3a7;
				margin-left: 180px;
			}
			.div-pd{
				display:block;
				margin:0 auto;
				width:1100px;
			}
			
			.pd:hover .pd-overlay-img{
				opacity: 1;
			}
			
			.pd{
				position: relative;
				width: 23%;
				float: left;
				margin: 10px;
			}
			
			
			.pd-img{
				width: 100%;
				
			}
			
			.pd-overlay-img{
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
			}
			
			.text{
				font-size: 30px;
				background: rgba(234, 186, 76, 0.58);
				color: black;
				text-align: center;
				padding: 138px 77px 140px 75px;
				
			}
			
			.div-pd h1{
				font-size: 40px;
				margin: 50px 0 30px 0;
				font-weight: 100;
			}
			
			
			.pd h3:hover{
				color:#e8a649;
			}
			
			.pd h3{
				margin: 8px 0 25px 0;
				font-weight: 300;
				padding-left: 10px;
				color: #6f6d63;
			}
			
			.view-shop{
				text-align: center;
				margin: 100px 0 40px 0;
				width:1200px;
				display: block;
				margin: 0 auto;
			}
			
			.view-shop span:hover{
				background-color: #ce944a;
				color: white;
			}
			#view-shop{
				margin: 75px;
			}
			
			.view-shop span{
				border: 1px solid #88877d;
				font-size: 30px;
				font-weight: inherit;
				padding: 10px 30px 10px 30px;
				color: #ce944a;
				border-radius: 30px;
			}
			
			.view-shop-img:hover{
				border:1px solid;
				color: #a3783c;
				opacity:0.6;
				
			}
			
			.view-shop-img{
				width:100%;
			}
			
			.camand-blog{
				margin-top:100px;
				margin-bottom: 50px;
			}
			
			.camand-blog h1{
				font-size: 50px;
				font-weight: 100;
				padding-left: 70px;
				font-family: -webkit-body;
			}
			
			.blog-p{
				margin: 0 auto;
				display: flex;
				width: 1100px;
			}
			
			.blog-post{
				text-align: justify;
				width: 345px;
				padding: 35px;
				font-weight: inherit;
				line-height: 30px;
			}
			
			.blog-post h3{
				margin: 19px 0 26px 0;
				margin: 19px 0 26px 0;
				font-weight: 300;
				color: #c79b5c;
			}
			
			.blog-post p{
				font-size: 15px;
				color: #a2a290;
			}

			
			.blog-post i{
				font-size: 12px;
				color: #bdb9b0;
			}
			
			.camand-investter{
				display: flex;
				width: 1160px;
				margin: 0 auto;
				height: 300px;
			}
			
			.investter-flex{
				display: flex;
			}
			
			.investter-flex h3{
				color:white;
				margin-top: -190px;
				text-align: center;
				font-size: 25px;
				font-weight: 300;
				margin-left: -190px;
			}
			
			.investter-flex img:hover{
				overflow: hidden;
				display: inline-block;
				vertical-align: bottom;
				box-shadow: 0 0 20px #70461b;;
			}
			
			.camand-investter img{
				margin-right: 28px;
			}
			
			.camand-investter h4{
				margin-top: -190px;
				text-align: center;
				font-size: 25px;
				color: #9a7340;
				font-weight: 300;
			}
			
			.camand-investter a{
				text-decoration:none;
			}
			
			.investter{
				width: 260px;
				text-align: center;
				border: 1px solid #b5aeae;
				height: 235px;
			}
			
			.investter h3{
				font-weight: 300;
				margin: 15px;
				color: #cfac99;
			}
			
			.investter p{
				width: 187px;
				margin: 0 auto;
				font-size: 12px;
				padding: 15px 0 20px 0;
				color: #d8ae77;
			}
			
			.investter input{
				border-radius: 0;
				padding-left: 0;
				border-bottom: 1px solid #e1e1e1;
				height: 30px;
				display: flex;
				margin-left: 30px;
			}
			
			.investter button{
				border: 1px solid gray;
				padding: 2px 10px 2px 10px;
				margin-top: 15px;
				color: #b59315;
				background-color: #f3f3d1;
				font-size: 15px;
				border-radius: 30px;
			}
			
			.camand-footer{
				width:100%;
				padding-top: 100px;
			}
			
			.angal-up-font {
				display:block;
				margin:0 auto;
				width:0px;
			}
			
			.angal-up-font button{
				padding: 10px 20px 5px 20px;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				vertical-align: bottom;
				background-color: #fbf4e8;
			}
			
			.footer-bg{
				background-color: #fbf4e8;
				display: flex;
				padding: 30px;
			}
			
			.footer-p1{
				width:420px;	
				padding-left: 40px;
			}
			
			
			.footer-p1 h3{
				font-weight: 600;
				padding: 40px;
			}
			
			.footer-p1 input{
				padding-left: 0;
				border-bottom: 1px solid #b39797;
				display: flex;
				margin-left: 30px;
				padding: 10px 75px 10px 10px;
				border-radius: 30px;
			}
			
			.input-search{
				position: relative;
				width: 280px;
			}
			
			.footer-p1 i{
				position: relative;
				top: -27px;
				float: right;
				right: 22px;
			}
			
			.footer-p1 a{
				text-decoration: none;
				color: #c1b8b8;
			}
			
			.footer-p1 span{
				padding: 15px;
			}
			
			
			.footer{
				width:210px;
			}
			
			.footer h3{
				font-weight: 600;
				padding:40px 0 14px 0;
		
			}
			
			.footer li:hover{
				color: #985c09;
			}
			
			.footer a{
				text-decoration:none;
				list-style-type:none;
				padding: 8px;
				color: #a7a194;
				font-size: 13px
			}
			
			.footer-part2{
				padding:20px;
				background: #a3783c;
				color:#e4e1da;
				font-weight: initial;
				font-family: -webkit-body;
			}
			
			.footer-padding{
				padding: 0 40px 0 45px;
			}
			
			.footer-part2 span{
				float:right;
			}
			
			.footer-part2 i{
				padding-right:35px;
			}
			
		/* new page wedding html css*/
		
			.headding{
				text-align: center;
				font-size: 55px;
				font-family: "Josefin Sans", sans-serif;
				font-stretch: condensed;
				margin-top: 100px;
			}
		
			.headding h3{
				font-weight: 100;
				letter-spacing: 5px;
				line-height: 75px;
			}
			
			.headding h4{
				letter-spacing: 10px;
				line-height: 100px;
				font-weight:600;
				font-family: serif;
			}
			
			.headding span{
				color: #d69c0d;
			}
			
			.about-img-2:hover{
				transform: scale(0.9);
				box-shadow: 0 0 20px #e4c085;
			}
			
			.about-img-1{
				display: block;
				margin: 0 auto;
				margin-bottom:80px;
			}
			
			.about-img-2{
				display: block;
				margin: 0 auto;
				margin-bottom:80px;
			}
			
			.about-m-vows{
				position:relativ;
			}
			
			.about-m-vows h3{
				width: 200px;
				font-size: 45px;
				position: absolute;
				bottom: -243px;
				left: 195px;
				color: #e0ad37;
			}
			
			.about-inf{
				width: 800px;
				margin: 0 auto;
			}
			
			.about-inf{
				color: #c7bcad;
			}
			
			.about-ingredient{
				display: flex;
				text-align: justify;
				font-size: 17px;
			}
			
			.about-ingredient i{
				font-weight: 100;
				font-size: 80px;
				display: inline-block;
				vertical-align: text-bottom;
				height: 100px;
				line-height: 122px;
				color: #c7bcad;
			}
			
			.about-ingredient p{
				padding: 18px;
				font-family: cursive;
				color: #8e7b7b;
			}
			
			.moto-inf{
				width: 600px;
				display: block;
				margin: 0 auto;
				border-bottom: 1px solid gainsboro;
				border-bottom-left-radius: 20%;
				border-bottom-right-radius: 20%;
				border-top: 1px solid gainsboro;
				border-top-left-radius: 20%;
				border-top-right-radius: 20%;
				margin-top: 100px;
			}
			
			.moto-inf h3{
				font-size: 28px;
				text-align: center;
				font-weight: 100;
				color: #f8b138;
				margin-top: 70px;
				font-family: cursive;
				margin-bottom:50px;
			}
			
			.our-family{
				padding-left: 130px;
				margin-top: 125px;
				width: 1200px;
				text-align: left;
			}
			
			.our-family h3{
				font-size: 50px;
				color: #b98661;
				line-height: 65px;
				font-family: -webkit-body;
			}
			
			.our-family p{
				width: 440px;
				font-size: 18px;
				line-height: 30px;
				color: #8f8c84;
				margin-top: 20px;
				font-family: cursive;
			}
			
			.our-family-datalist{
				width: 1100px;
				display: table;
				margin: 0 auto;
			}
			
			.member-details:hover .member-overlay-img{
				opacity: 1;
			}
			
			.member-details{
				position:relative;
				float:left;
				margin: 10px;
				margin-top: 50px;
				width: 23%;
				max-width:25%;
			}
			
			.member-img{
				width:100%;
			}
			
			.member-overlay-img{
				position: absolute;
				opacity: 0;
				top: 0;
				left: 0;
				
			}
			
			.text-2{
				font-size: 17px;
				width: 100%;
				color: black;
				background: rgba(185, 134, 97, 0.55);
				text-align: center;
				padding: 98px 43px;
				
			}
			
			.member-details i{
				text-align:center;
				color: #928c8c;
			}
			
			.author-carousel{
				width: 800px;
				display: block;
				margin: 0 auto;
			}
			
			.author-carousel p{
				margin-top: 150px;
				font-size: 26px;
				font-weight: 100;
				text-align: center;
				font-family: cursive;
			}
			
			.author-carousel-img{
				border-radius: 50%;
				width: 20%;
				display: block;
				margin: 0 auto;
				margin-top: 20px;
			}
			
			.font-circal:hover{
				color:black;
			}
			
			.font-circal{
				color: #9a9494;
				display: block;
				margin: 0 auto;
				width: 58px;
				margin-top: 15px;
			}
			
			.press-prod{
				width: 1040px;
				display: block;
				margin: 0 auto;
				margin-top:150px;
				text-align: center;
			}
			
			.press-prod h3{
				font-size: 50px;
				color: #b98661;
				line-height: 65px;
				font-family: -webkit-body;
			}
			
			.press-width{
				text-align: center;
				margin-top:40px;
				margin-bottom: 30px;
			}
			.hover-images:hover{
				color:black;	
			}
			
			.hover-images{
				overflow: hidden;
				display: inline-block;
				vertical-align: bottom;
			}
			
			.press-prod-img{
				opacity: 0.3;
			}
			
			.publication{
				border-bottom:1px solid;
				width: 208px;
				display: block;
				margin: 0 auto;
				
			}
			.publication a{
				text-decoration:none;
			}
			
			.about-end{
				display:flex;
				width: 1100px;
				margin: 0 auto;
				margin-top:100px;
			}
			
			.abou-inquire{
				text-align: center;
				border-right: 1px solid gainsboro;
				height: 300px;
				margin: 46px;
				padding-right: 135px;
			}
			
			.abou-inquire h4{
				color: #d89d4e;
				font-size: 20px;
				font-family: cursive;
				padding-bottom: 15px;
			}
			.abou-inquire a{
				font-size: 20px;
				margin-bottom: 15px;
				text-decoration: none;
				color: #f14d4d;
			}
			
			.abou-inquire p{
				font-size: 20px;
				padding-bottom: 25px;
			}
			
			.hollywood{
				text-align: center;
				height: 300px;
				margin: 46px;
				padding-right: 135px;
			}
			
			.hollywood img{
				margin-bottom:20px;
				width:45%;
			}
			
			.hollywood h4{
				color: #d89d4e;
				font-size: 20px;
				font-family: cursive;
				padding-bottom: 15px;
			}
			
			.hollywood i{
				font-size: 45px;
				font-weight: 100;
				font-family: monospace;
				color: #797777;
			}
			
			.reserved{
				text-align: center;
				color: #a09d99;
			}
	