* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*{
	text-decoration:none;
}

.header_include,
.footer_include {
    width: 100%;
}

.header_include {
    height: 136px;
}

.footer_include {
    height: 532px;
}

.inline-block {
    border: 1px solid gray;
    background-color: #444444;
    ;
    color: white;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 6px;
}

.inline-block span {
    display: inline-block;
    padding: 15px;
}

.left {
    margin-left: 100px;
}

.right {
    margin-right: 100px;
}

.inline-block a {
    float: right;
    display: inline-block;
    padding: 15px;
    color: white;
}

.img0 {
    width: 8%;
    float: left;
    box-sizing: border-box;
    margin: 6px 100px;
}

.home {
    padding: 10px;
}

.home li {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

.home li a:hover {
    color: #e61d1d;
}

.home ul {
    display: block;
    text-align: center;
    width: 100%;
	position: relative;
    left: -120px;
}

.button {
    display: table;
    margin-top: -50px;
    float: right;
}

div.home input,
div.home button {
    float: right;
    border: 1px solid #797171;
    margin-top: 15px;
    margin-right: 3px;
    padding: 5px;
}

.button button:hover,
.button input:hover {
    border: 2px solid #e61d1d;
}

.mean-img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.in-img-width {
    width: 100%;
    position: relative;
}

.bg-color {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #d2d2d2;
}

.in-img {
    text-align: justify;
    font-size: 23px;
    padding: 10px;
    display: block;
    margin: 100px;
}

div.in-img p {
    float: left;
    display: block;
    width: 100%;
}

div.in-img h3 {
    font-size: 44px;
    color: #fb0505;
}

div .button3 button {
    font-size: 20px;
    padding: 7px;
    margin-top: 30px;
}

div .button3 button:hover {
    background-color: #e61d1d;
}

#shopping {
    background: #f1f1f1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.free-shopping {
    text-align: center;
}

.free {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-right: 35px;
}

.free h2:hover {
    color: #e61d1d;
}

.srevice-mid {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div.free p {
    font-size: 17px;
    margin-top: 10px;
}

#shop-now {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.newest {
    display: inline-block;
    margin: 0 auto;
}

.newest img {
    padding: 13px;
}

.shop-now {
    background: rgba(0, 0, 0, 0.6);
    width: 345px;
    margin: 0 auto;
    padding-bottom: 30px;
    position: absolute;
    text-align: center;
    margin-top: -13%;
    display: table;
    margin-left: 25px;
}

div.shop-now h2,
div.shop-now h3 {
    margin: 10px;
    color: white;
    font-size: 25px
}

div.shop-now a {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 6px 15px;
    color: white;
    font-size: 22px;
}

.shop-now a:hover {
    background-color: red;
    border: 1px solid #e61d1d;
    color: black;
}

.divfirst {
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
}

h1 {
    font-style: oblique;
    margin: 50px;
    font-size: 45px;
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal
}

.hr1 {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 1px;
    background-color: red;
    vertical-align: top;
    border: 0px;
    margin-bottom: 5px;
}

.hr2 {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 1px;
    background-color: red;
    border: 0px;
    margin-bottom: 40px;
}

.list li {
    display: inline-block;
    padding: 15px;
}

.list li a:hover {
    color: red;
}

.divimg {
    display: table;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 35px;
}

.img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

div.divsecond {
    width: 25%;
    float: left;
}

.divsecond a {
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-family: arial;
}

.divsecond i {
    float: right;
}

.divthree {
    display: block;
    margin: 0 auto;
    width: 1200px;
    background-color: #f1f1f1;
}

.img2 {
    width: 55%;
    margin-top: 50px;
}

.inf {
    display: inline-block;
    width: 43%;
    float: right;
    margin-top: 25px;
    background-color: #f1f1f1;
    padding: 12px;
    padding-top: 9px;
}

div.inf p,
div.inf h2,
div.inf h3,
div.inf h4 {
    margin: 16px;
}

.td {
    border: 1px solid black;
    width: 11%;
    display: inline-block;
    margin: 15px;
    text-align: center;
}

.test {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 90px;
}

.bg {
    background-color: rgba(0, 0, 0, .7);
    color: #d2d2d2;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 60px;
}

.profile {
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.section {
    background-image: url(../img/bg1.jpg);
    background-size: 100% auto;
    background-position: center;
}

.part1 {
    width: 40%;
    margin-left: 100px;
    display: inline-block;
}

.part1 h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-style: oblique;
    text-align: right;
    color: #fff;
    padding: 5px;
}

div.part1 p {
    margin: 10px;
}

.next {
    background-color: black;
    color: white;
    padding: 5px 18px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    border: 1px solid #5d5858;
    margin-top: 30px;
}

.next:hover {
    background-color: #e61d1d;
    color: black;
}

.blog {
    width: 1100px;
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;
}

.blog a:hover {
    color: #e61d1d;
}

.blog a {
    display: block;
    font-size: 23px;
}

.blog p {
    text-align: justify;
    width: 33%;
    margin: 0;
    float: left;
    padding: 15px;
}

.blog-img {
    width: 100%;
    margin-bottom: 10px;
}

.end {
    width: 1300px;
    margin: 0 auto;
    display: table;
    font-family: 'Raleway', sans-serif;
}

.section1 {
    background-color: #353535;
    ;
    color: #dad2d2;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 80px;
}

.footer {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    padding: 20px;
    font-size: 12px;
}

div.footer p {
    font-size: 16px;
    padding: 10px;
}

div.footer li {
    font-size: 17px;
    font-weight: normal;
    padding: 10px;
}

div.footer a,
div.footer-btm a {
    color: #ec227a;
	text-decoration: none;
}

div.footer h2 {
    margin-bottom: 30px;
}

div.footer img {
    margin-bottom: 23px;
    width: 50%
}

.footer input {
    border: 1px solid gray;
    padding: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer input:hover {
    border: 2px solid #e61d1d;
}

.footer li:hover {
    color: #e61d1d;
    border: 2px solid #353535;
    ;
}

#share-link1:hover {
    background-color: #e61d1d;
    border-radius: 50%;
    width: 18%;
}

#share-link1 {
    color: floralwhite;
    padding: 15px;
    width: 23%;
}

.footer-btm {
    background: #555555;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.footer-btm p {
    display: inline-block;
    margin-left: 100px;
}

div.footer-btm img {
    float: right;
    margin-right: 13px;
}